@using BlazorUserManagerApp.Models
<div>

<div class="row">
    <div class="col-7 col-md-9">@Message</div>
</div>

<Button class="mt-3" Color="ButtonColor.Success" Type="ButtonType.Button" @onclick="OnAcceptCallback">
    Accept
</Button>
    @if(Type == "Alert")
    {
        <Button class="mt-3 mx-1" Color="ButtonColor.Danger" Type="ButtonType.Button" @onclick="OnCancelCallback">
            Cancel
        </Button>
    }
    
</div>


@code {
    private Modal modal = default!;

    [Parameter] public string Message { get; set; }
    [Parameter] public string Type { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnAcceptCallback { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnCancelCallback { get; set; }

    protected override void OnInitialized()
    {
        // get employee with {EmployeeId} from DB
        base.OnInitialized();
    }

    
}
